.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}
